<div id="footer" class="clearfix">
      <div id="footer-widgets">
        <div class="container">
          <div id="footer-wrapper">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div>
                  <h4 class="widgettitle">Footer Widget 1</h4>
                  <ul>
                    <li>
                      <a href="#">Log in</a>
                    </li>
                    <li>
                      <a href="#">Entries
                        <abbr title="Really Simple Syndication">RSS</abbr>
                      </a>
                    </li>
                    <li>
                      <a href="#">Comments
                        <abbr title="Really Simple Syndication">RSS</abbr>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                  <h4 class="widgettitle">Footer Widget 2</h4>
                  <ul>
                    <li>
                      <a href="#">Links Post</a>
                    </li>
                    <li>
                      <a href="#">Blockquote Post</a>
                    </li>
                    <li>
                      <a href="#">UL and OL Post</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div id="meta-4" class="widget widgetFooter widget_meta">
                  <h4 class="widgettitle">Footer Widget 3</h4>
                  <ul>
                    <li>
                      <a href="#">Log in</a>
                    </li>
                    <li>
                      <a href="#">Entries
                        <abbr title="Really Simple Syndication">RSS</abbr>
                      </a>
                    </li>
                    <li>
                      <a href="#">Comments
                        <abbr title="Really Simple Syndication">RSS</abbr>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div id="search-3" class="widget widgetFooter widget_search">
                  <h4 class="widgettitle">Footer Widget 4</h4>
                  <form action="http://localhost:3000/api/search" method="get" class="form-inline">
                    <fieldset>
                      <div class="input-group">
                        <input type="text" name="s" id="search" placeholder="Search" value="" class="form-control" />
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-primary">Search</button>
                        </span>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div id="sub-floor">
        <div class="col-sm-12 row">
          <div class="col-sm-offset-6 col-sm-2">
            © 2016
            <a target="_blank" href="http://vanio.hu">VANIO</a>
          </div>
        </div>
        <div class="col-sm-12 row">
          <div class="col-sm-offset-6 col-sm-2">
            Built by Maesy
          </div>
        </div>
      </div>

    </div>
