/* Desktop style */
.navbar-brand {
    .logo {
        background: url("../img/logo.png") no-repeat;
        background-size: 36px 36px;
        width: 36px;
        height: 36px;
        display: inline-block;
        margin: -10px 5px 0 0;
        float: left;
    }
    color: #ffffff!important;
}
