<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="alert alert-danger" role="alert">
        <h4>Error: Resource nor found</h4>
        <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
        <p>
          <button type="button" class="btn btn-danger">
            Take this action
          </button>
          <span> or </span>
          <button type="button" class="btn btn-default">
            Take that action
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
